body {
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: rgba(249, 249, 249, 0.8);
    margin: 0;
    box-sizing: border-box;
}

.black {
    background-color: rgba(59, 59, 59, 0.9);
}

.checked {
    background-color: rgba(255, 0, 0, 0.5);
}

.finished {
    pointer-events: none;
    background-color: rgba(255, 0, 0, 0.8);
}

#history {
    position: absolute;
	right: 4px;
    top: 4px;
}

#cuttedFigures {
    position: absolute;
    left: 4px;
    top: 4px;
}